{
    box-sizing: border-box;
}

#body{
    font-family: Arial, Helvetica, sans-serif;
}

#header nav{
    height: 2cm;
    width: 100%;
    background-color: lightgray;
}

#navdiv{
    height: 100%;
    width: 100%;
    float: left;
}

#navdiv .nav1div{
    height: 100%;
    width: 20%;
    background-color: whitesmoke;
    float: left;
}

#nav21div{
    height: 100%;
    width: 30%;
    float: left;
}

#nav22div{
    height: 100%;
    width: 40%;
    float: left;
}

#nav23div{
    height: 100%;
    width: 30%;
    float: left;
}

#nav221div{
    height: 30%;
    width: 100%;
}

#nav222div{
    height: 40%;
    width: 100%;
}

#nav223div{
    height: 30%;
    width: 100%;
}

#HeartCouncil{
    color: black;
    font-family: fantasy;
}

#nav31div{
    height: 100%;
    width: 30%;
    float: left;
}

#nav32div{
    height: 100%;
    width: 40%;
    float: left;
}

#nav33div{
    height: 100%;
    width: 30%;
    float: left;
}

#nav321div{
    height: 30%;
    width: 100%;
}

#nav322div{
    height: 40%;
    width: 100%;
}

#nav323div{
    height: 30%;
    width: 100%;
}

#SearchInput{
    text-align: center;
}

#nav41div{
    height: 100%;
    width: 30%;
    float: left;
}

#nav42div{
    height: 100%;
    width: 30%;
    float: left;
}

#nav43div{
    height: 100%;
    width: 40%;
    float: left;
}

#nav421div{
    height: 30%;
    width: 100%;
}

#nav422div{
    height: 40%;
    width: 100%;
}

#nav423div{
    height: 30%;
    width: 100%;
}

#navdiv .MenuIcon{
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}